.game2048 {
    text-align: center;
    padding: 30px;
    user-select: none;
}
.game2048 .pane {
    position: relative;
    width: 310px;
    height: 310px;
    border: 1px solid #ccc;
    margin: 0 auto;
}

.game2048 .tile {
    position: absolute;
    margin: 10px 0 0 10px;
    width: 65px;
    height: 65px;
    border-radius: 3px;
    font-size: 24px;
    color: #fff;
    line-height: 65px;
    text-align: center;
    transition: .5s;
}
.game2048 .tile0 {
    background-color: #ccc;
}
.game2048 .tile2 {
    background-color: #6bd441;
}
.game2048 .tile4 {
    background-color: #ff8d8d;
}
.game2048 .tile8 {
    background-color: #e4e47f;
}
.game2048 .tile16 {
    background-color: #fba7d2;
}
.game2048 .tile32 {
    background-color: #1f9aaa;
}
.game2048 .tile64 {
    background-color: #0080ff;
}
.game2048 .tile128 {
    background-color: #343399;
}
.game2048 .tile256 {
    background-color: #c91783;
}
.game2048 .tile512 {
    background-color: #fd0100;
}
.game2048 .tile1024 {
    background-color: #fab418;
}
.game2048 .tile2048 {
    background-color: #ffff01;
}