
.black-white-turn {
    margin: 30px auto;
    width: 400px;
    overflow: hidden;
}
.black-white-turn .tile {
    float: left;
    width: 48px;
    height: 48px;
    background-color: #eee;
    margin: 1px;
}
.black-white-turn .tile.mark {
    background-color: #333;
}
.black-white-turn .tile:hover {
    opacity: .7; 
}
.black-white-turn h1 {
    text-align: center;
    margin-bottom: 16px;
}
.black-white-turn .ctrl {
    text-align: center;
    margin-bottom: 20px;
}