
.game03 .pane {
    width: 480px;
}

.game03 .tile {
    position: relative;
    float: left;
    width: 56px;
    height: 56px;
    border: 2px solid #aaa;
    background-color: #eee;
}

.game03 .tile.stone {
    background-color: #929292;
}

.game03 .tile.target {
    background-color: #76efff;
}

.game03 .tile.star {
    background-color: #fded07;
}

.game03 .tile .up {
    position: absolute;
    height: 0;
    width: 0;
    left: 0;
    top: -56px;
    border: 26px solid transparent;
    border-bottom-color: bisque;
}

.game03 .tile .down {
    z-index: 1;
    position: absolute;
    height: 0;
    width: 0;
    left: 0;
    top: 54px;
    border: 26px solid transparent;
    border-top-color: bisque;
}


.game03 .tile .left {
    z-index: 1;
    position: absolute;
    height: 0;
    width: 0;
    left: -56px;
    top: 0;
    border: 26px solid transparent;
    border-right-color: bisque;
}


.game03 .tile .right {
    z-index: 1;
    position: absolute;
    height: 0;
    width: 0;
    left: 54px;
    top: 0;
    border: 26px solid transparent;
    border-left-color: bisque;
}