<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>demo by hans</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        * { padding: 0; margin: 0; }
        #app {
            margin: 20px 20px;
        }
        .finished {
            background-color: #eee;
            color: #aaa;
            text-decoration: line-through;
        }
        .g-delete {
            color: red;
        }
        button {
            border: none;
            outline: none;
            background-color: transparent;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">当前还有{{remain}}件事要做</div>
            <div class="panel-body">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3">输入你要做的事</span>
                    <input @keyup.13="add()" v-model="info" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>
            </div>
            <table class="table">
                <tr>
                    <th>序号</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
                <tr :class="{finished: item.isSelected}" v-for="(item, idx) in things">
                    <td>
                        <input type="checkbox" v-model="item.isSelected">
                        {{idx + 1}}
                    </td>
                    <td>{{item.msg}}</td>
                    <td><button @click="remove(idx)" class="glyphicon glyphicon-remove-sign g-delete" aria-hidden="true"></button></td>
                </tr>
            </table>
        </div>
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#all">全部</a></li>
            <li role="presentation"><a href="#finished">已完成</a></li>
            <li role="presentation"><a href="#unfinished">未完成</a></li>
        </ul>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    let $ = sel => document.querySelector(sel);
    let $$ = sel => document.querySelectorAll(sel);
    let log = console.log.bind(console);
    let vm = new Vue({
        el: '#app',
        data: {
            info: '',
            things: [
            ],
        },
        watch: {
            things: {
                handler() {
                    localStorage.setItem('todos', JSON.stringify(this.things));
                },
                deep: true,
            }
        },
        methods: {
            add() {
                this.things.push({
                    msg: this.info,
                    isSelected: false,
                })
                this.info = '';
            },
            remove(idx) {
                this.things.splice(idx, 1);
            },
        },
        computed: {
            remain() {
                return this.things.filter(e =>  !e.isSelected).length
            },
        },
        created() {
            this.things = JSON.parse(localStorage.getItem('todos')) || [];
            //监听hash值的变化
            window.addEventListener('hashchange', () => {
                this.hash = window.location.hash;
            })
        }
    })
</script>
</html>