.four-colors-pane {
    user-select: none;
    .ctrl {
        margin-top: 50px;
        text-align: center;
        margin-bottom: 20px;
    }
    .pane {
        position: relative;
        overflow: hidden;
        width: 382px;
        height: 382px;
        padding: 10px;
        margin: 0 auto;
        border: 1px solid #aaa;
        background: linear-gradient(90deg, gold 50%, blue 50%);
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 50%;
            top: 0;
            left: 0;
            background: linear-gradient(90deg, red 50%, green 50%);
        }
    }
    .tile-cont {
        position: relative;
        height: 100%;
        .tile {
            float: left;
            border: 1px solid #eee;
            box-sizing: border-box;
        }
        .tile.tile-0 {
            background-color: red;
        }
        .tile.tile-1 {
            background-color: green;
        }
        .tile.tile-2 {
            background-color: gold;
        }
        .tile.tile-3 {
            background-color: blue;
        }
    }
    .dot-cont {
        .dot {
            position: absolute;
            width: 28px;
            height: 28px;
            text-align: center;
            line-height: 28px;
            border-radius: 50%;
            color: #999;
            cursor: pointer;
            background-color: #eee;
            box-shadow: 1px 1px 2px #000;
        }
    }
}