
.black-white-turn {
    margin: 30px auto;
    overflow: hidden;
    width: 840px;
}
.black-white-turn .pane {
    float: left;
    width: 240px;
    height: 240px;
    margin: 20px;
}

.black-white-turn .tile {
    float: left;
    width: 28px;
    height: 28px;
    background-color: #eee;
    margin: 1px;
}
.black-white-turn .tile.mark {
    background-color: #333;
}
.black-white-turn .tile:hover {
    opacity: .7; 
}
h1 {
    text-align: center;
    margin-bottom: 16px;
}
.black-white-turn .ctrl {
    text-align: center;
}