
.either-black-white {
    margin: 30px auto;
    overflow: hidden;
    width: 840px;
}
.either-black-white .pane {
    float: left;
    width: 240px;
    height: 240px;
    margin: 20px;
}

.either-black-white .tile {
    float: left;
    width: 28px;
    height: 28px;
    background-color: #eee;
    margin: 1px;
}
.either-black-white .tile.mark {
    background-color: #333;
}
.either-black-white .tile:hover {
    opacity: .7; 
}
.either-black-white h1 {
    text-align: center;
    margin-bottom: 16px;
}
.either-black-white .ctrl {
    text-align: center;
}