
.main {
  position: relative;
  width: 400px;
  height: 550px;
  margin: 0 auto;
  border: 1px solid #eee;
}
.start-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.edit-wrap {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.paddle {
  position: absolute;
  background-color: #007acc;
}
.ball {
  position: absolute;
  border-radius: 50%;
  background-color: #cc002c;
}
.block {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid transparent;
  background-color: transparent;
}
.block.edit {
  position: absolute;
  border: 1px solid #eee;
  background-color: #e4dbdb;
}
.block.edit:hover {
  background-color: #ebcc78;
}
.block.alive {
  position: absolute;
  border: 1px solid #eee;
  background-color: #cc9600;
}