.link {
    stroke: #000;
    stroke-width: 1.5px;
}
  
.node {
    cursor: move;
    fill: #eee;
    stroke: #000;
    stroke-width: 1.5px;
    background-color: #eee;
}
  
.node.fixed {
    fill: #f00;
}