.peak-turn h1 {
    text-align: center;
}
.peak-turn--pane.create {
    box-shadow: 0 0 5px #dfab02;
}
.peak-turn--pane {
    position: relative;
    width: 356px;
    background-color: #fff;
    height: 356px;
    user-select: none;
    box-shadow: 0 0 5px #666;
    margin: 0 auto;
}
.peak-turn--pane .tile {
    float: left;
    width: 50px;
    height: 50px;
    background-color: #eee;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    color: #666;
    margin: 8px 0 0 8px;
}
.peak-turn--pane .line {
    position: absolute;
    background-color: #fff;
    transition: .5s;
}
.peak-turn--pane .line.mark {
    background-color: #3363c7;
}
.peak-turn--pane .horizontal {
    width: 50px;
    height: 8px;
    text-align: center;
}
.peak-turn--pane .vertical {
    width: 8px;
    height: 50px;
    line-height: 50px;
}
.peak-turn--bar {
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
}
.peak-turn--bar .btn {
    margin: 0 8px;
}
.peak-turn--desc {
    width: 356px;
    margin: 16px auto;
}