<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>demo by hans</title>
    <style>
        ul {
            list-style-type: none;
        }
        .on {
            color: #f60;
            font-weight: bold;
        }
        .wrap {
            position: relative;
            /* overflow: hidden; */
        }
        .star {
            float: left;
            width: 0;
            height: 20px;
           background-color: #fff; 
            border: 1px solid #aaa;
            padding: 0 10px;
        }
        .clearfix::after {
            content: "";
            display: block;
            clear: both;
        }
        .staron {
            background-color: #ff0;
        }
    </style>
</head>
<body>
    <div id="app">
        <h3>Todolist</h3>
        <div v-if="isVisible">
            <span>输入待做的事</span>
            <input type="text" @keyup.13="add" v-model="msg">
        </div>
        <div v-else="isVisible">
            <span>修改内容</span>
            <input type="text" @keyup.13="reload(text)" v-model="text">
        </div>
        <div class="ctrl">
            <button @click="sort(true)">升序</button>
            <button @click="sort()">降序</button>
        </div>
        <div class="wrap" v-if="(msg.trim().length || text.trim().length)" @mouseout="leaveStarCount()">
            <ul class="clearfix">
                <li class="star" @mousedown="setStarCount(i + 1)" @mouseenter="hoverStar(i + 1)" :class="{staron: e}" v-for="(e, i) in getStar"></li>
            </ul>
        </div>
        <ul>
            <li :style="{color: color[item.key]}" :class="{on:item.isSelect}" v-for="(item, index) in list">
                内容：{{item.msg}}
                <button @click="modify(index)">修改</button>
                <button @click="remove(index)">删除</button>
                重要程度：{{item.key}}
            </li>
        </ul>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    let $ = sel => document.querySelector(sel);
    let $$ = sel => document.querySelectorAll(sel);
    let log = console.log.bind(console);
    
    new Vue({
        el: '#app',
        data: {
            list: [],
            msg: '',
            text: '',
            index: -1,
            isVisible: true,
            rate: [0, 0, 0, 0, 0, 1, 1, 1, 1, 1],
            offset: 0,
            key: 0,
            color: ['#8eb9f5', '#272727', '#3385ff', '#ffac38', '#ff8547', '#f54545'],
        },
        computed: {
            getStar() {
                return this.rate.slice(this.offset, this.offset + 5).reverse();
            }
        },
        methods: {
            sort(flag) {
                this.list.sort((a, b) => {
                    return flag ? a.key - b.key : b.key - a.key;
                })
            },
            hoverStar(count) {
                this.offset = count;
            },
            setStarCount(count) {
                this.key = count;
            },
            leaveStarCount() {
                this.offset = this.key;
            },
            reload(text) {
                this.list[this.index].msg = text;
                this.list[this.index].key = this.key;
                this.list[this.index].isSelect = false;

                this.isVisible = true;
                // reset config
                this.msg = '';
                this.text = '';
                this.key = 0;
                this.offset = 0;
            },
            modify(index) {
                this.isVisible = false;
                this.index = index;

                this.text = this.list[index].msg;
                this.offset = this.list[index].key;
                this.key = this.list[index].key;
                this.list[index].isSelect = true;
            },
            add() {
                this.list.push({
                    msg: this.msg,
                    isSelect: false,
                    key: this.key,
                });
                // reset config
                this.msg = '';
                this.text = '';
                this.key = 0;
                this.offset = 0;
            },
            remove(index) {
                this.list.splice(index, 1);
            },
        }
    })
</script>
</html>