.number-puzzle {
    margin: 30px auto;
    width: 428px;
    overflow: hidden;
    user-select: none;
}
.number-puzzle .pane {
    width: 400px;
    height: 400px;
    padding: 4px;
    margin: 0 auto;
    border: 10px solid #dd76bb;
}
.number-puzzle .ctrl {
    text-align: center;
    margin-bottom: 20px;
}
.number-puzzle .tile {
    float: left;
    width: 85px;
    height: 85px;
    margin: 4px;
    background-color: #eee;
    line-height: 85px;
    text-align: center;
    font-size: 32px;
    transition: .5s;
}
.number-puzzle .tile.mark {
    background-color: #fff;
    color: #fff;
    box-shadow: 0 0 4px #eee;
}