.img-viewer {
}
.img-viewer-close {
    position: fixed;
    top: 0;
    right: 0;
    width: 35px;
    height: 50px;
    font-size: 36px;
    cursor: pointer;
    color: #fff;
}
.img-viewer-close:hover {
    opacity: .8;
}
.img-viewer-wrap {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
}
.img-viewer-img {
    display: inline-block;
    width: 80%;
}